<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                 [fixedInViewport]="options.value.fixed" [fixedTopGap]="options.value.top"
                 [fixedBottomGap]="options.value.bottom">
                 <mat-list>
                  <h4 class="titulo-menu">Menu</h4>
                      <mat-list-item *ngFor="let menu of itemsMenu">
                        <mat-icon matListItemIcon class="itemMenu-icon">{{menu.icon}}</mat-icon>
                        <div matListItemTitle class="itemMenu" (click)="clickMenu(menu.item)" >{{menu.item}}</div>

                      </mat-list-item>
                </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>
