
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"  [mode]="'side'" [opened]="true">
    <mat-toolbar class="menu-navbar"><strong style="color: white;">Menú</strong></mat-toolbar>
    <mat-nav-list>

      <mat-list-item *ngFor="let menu of itemsMenu">
        <mat-icon matListItemIcon class="itemMenu-icon">{{menu.icon}}</mat-icon>
        <div matListItemTitle class="itemMenu" (click)="clickMenu(menu.item)" >{{menu.item}}</div>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar color="#2d3872">
      <span>Título de tu aplicación</span>
    </mat-toolbar>
    <ng-content></ng-content> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
