.example-container {
  /* position: absolute; */
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.menu-navbar {
  background-color: #2d3872;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: #2d3872;
}

.sidenav {
  background: #2d3872;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.titulo-menu{
  color: white;
  margin-left: 17px;
}

.itemMenu-icon{
  color: white !important;
}

.itemMenu{
  color: white;
}
