

<div>

  <mat-card class="card-heigth">
    <span>
      <button mat-flat-button (click)="volver()">
        <!-- <mat-icon>keyboard_backspace</mat-icon> -->
        <mat-icon>arrow_back_ios</mat-icon>
        <span>
          ATRAS
        </span>

      </button>

    </span>
    <mat-card-header>

      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="">
        <div class="row">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" type="text" name="nombre">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Codigo</mat-label>
              <input matInput placeholder="Codigo" type="text" nombre="codigo">
            </mat-form-field>
          </div>
          <div class="col-4">
            <!-- <mat-form-field>
              <mat-label>Imagen</mat-label>
              <input type="file" (change)="selectFile($event)">
            </mat-form-field> -->
            <!-- <div class="form-group">
              <label class="form-label"><strong>Imagen Producto:</strong></label>
              <input type="file"
              class="form-control"
              [class.is-invalid] = "imageNoValido"
              formControlName="product_image"
              (change)="selectFile($event)">
            <small *ngIf="imageNoValido" class="text-danger">
              El campo imagen es obligatorio.
            </small>
            </div> -->
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Stock</mat-label>
              <input matInput placeholder="Stock" type="number" name="stock">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-select id="id-categoria" placeholder="Categoria">
                <mat-option *ngFor="let option of listCategoria" [value]="option"></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-select id="id-sector" placeholder="Sector">
                <mat-option *ngFor="let option of listSector" [value]="option"></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <input matInput placeholder="Precio" type="number" name="precio">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Descripcion</mat-label>
              <textarea matInput placeholder="Ingrese descripcion"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="d-flex justify-content-center">
            <button mat-raised-button class="btnAceptar" color="primary">
              <mat-icon>check</mat-icon>
              Aceptar
            </button>


            <button mat-raised-button class="mr-4" color="warn" (click)="volver()">
              Cancelar
            </button>

          </div>


        </div>

      </form>
    </mat-card-content>
  </mat-card>



</div>


